{{#if error}}
    <p class="alert alert-danger text-center">{{error}} <button type="button" class="close" data-dismiss="alert">&times;</button></p>
{{/if}}

{{#each errors}}
    <p class="alert alert-danger text-center">{{text}} <button type="button" class="close" data-dismiss="alert">&times;</button></p>
{{else}}
{{/each}}