
<h1 class="display-4 text-capitalize my-4">About DevIdeas App</h1>
<div class="card card-body">
    <p>DevIdeas App is a web application built in Node.js using the Express.js framework.</p>
    <p>It's designed to be intuitive and targeted at other developers/programmers/C. Scientists, etc., who'd like to keep their ideas for new projects in a safe place.</p>
    <p>Even if you're not part of the I.T. world, you're totally welcome to use it, too.</p>
    <p>It Uses Node.js and Express.js for backend infrastructure and logic, and MongoDB for data storage.</p>
    <p>It also allows for easy unsubscription, in case you want to stop using it.</p>
</div>
