
<h1 class="display-4 text-capitalize my-4">Page Not Found</h1>
    <p><strong>The requested page doesn&apos;t exist</strong></p>
    <a href="/" class="btn btn-outline-dark btn-lg">Go back to Site</a>


