<h1 class="display-4 text-capitalize my-4">Register your account</h1>
<div class="row">
  <div class="col-md-6 mx-auto">
    
      <form class="card card-body" action="/users/register" method="POST">
          <label class="form-group" for="name">Name
          <input value="{{name}}" id="name" type="text" class="form-control" name="name" required="required">
          </label>
        
          <label class="form-group" for="email">Email
          <input value="{{email}}" id="email" type="email" name="email" class="form-control" required="required">
          </label>
        
          <label class="form-group" for="password">Password
          <input pattern=".{4,}" value="{{password}}" id="password" type="password" name="password" class="form-control" required="required">
          </label>
        
          <label class="form-group" for="password2">Confirm Password
          <input pattern=".{4,}" value="{{password2}}" id="password2" type="password" name="password2" class="form-control" required="required">
          </label>
        
        <button type="submit" class="btn btn-success">Submit</button>
      </form>
    
  </div>
</div>